<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="homepage">
      <div class="hero">
        <img class="shape" src="img\Shape.png" />
        <div class="header">
          <div class="logo">
            <img class="group" src="img/LogoPata.png" />
            <div class="text-wrapper">Pai de Pet</div>
          </div>
          <div class="menu">
            <a href="index.html"><div class="text"><div class="div">Home</div></div></a>
            <div class="div-wrapper">
              <a href="/login-cadastro"><div class="div-wrapper"><div class="text-wrapper-2">Entre ou Cadastre-se</div></div></a>
            </div>
          </div>
          <div class="input-icons">
            <div class="input">
              <div class="text-wrapper-3">Procurar produtos...</div>
              <img class="icon-bg" src="img/carrinho_compra.png" />
            </div>
            <div class="icons">
              <div class="shopping-cart">
                <img class="vector" src="img/vector.svg" />
                <img class="img" src="img/image.svg" />
                <div class="overlap-group">
                  <img class="vector-2" src="img/vector-2.svg" />
                  <div class="frame"><div class="text-wrapper-4">0</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-button">
          <div class="frame-2">
            <div class="pai-de-pet">Pai De Pet</div>
            <p class="uma-loja-com-tudo">Uma loja com tudo que <br />seu filho precisa</p>
          </div>
          <a href="comprar.html"><button class="button"><div class="text-wrapper-5">Comprar Agora</div></button></a>
        </div>
        <div class="imgs-shapes-pattern">
          <img class="shapes-pattern" src="img/shapes-pattern.svg" />
          <div class="imgs">
            <div class="overlap-group-2">
              <img class="image" src="img/image.png" />
              <img class="image-2" src="img/Imgs.png" />
              <img class="vecteezy-hamster" src="img/vecteezy-hamster-with-24704812.png" />
            </div>
          </div>
        </div>
        <img class="shape-2" src="img/shape-2.svg" />
        <img class="vecteezy-bird" src="img\vecteezy_bird-sparrow-bird-animals-songbird-fauna_26755600.png" />
      </div>
      <div class="featured-products">
        <div class="text-wrapper-6">Mais Vendidos</div>
        <div class="cards">
          <div class="card">
            <div class="img-2"></div>
            <div class="text-icon">
              <div class="text-2">
                <div class="text-wrapper-7">Ração Premium para Cachorro</div>
                <div class="text-wrapper-8">R$ 100,00</div>
              </div>
              <img class="icons-2" src="img/" />
            </div>
          </div>
          <div class="card">
            <div class="img-3"></div>
            <div class="text-icon">
              <div class="text-2">
                <div class="text-wrapper-7">Ração Premium para Gato</div>
                <div class="text-wrapper-8">R$ 100,00</div>
              </div>
              <img class="icons-2" src="img/icons-2.svg" />
            </div>
          </div>
          <div class="card">
            <div class="img-4"></div>
            <div class="text-icon">
              <div class="text-2">
                <div class="text-wrapper-7">Ração Premium para Hamster</div>
                <div class="text-wrapper-8">R$ 100,00</div>
              </div>
              <img class="icons-2" src="img/carrinho_compra.png" />
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <img class="vector-3" src="img/patas.png" />
        <div class="icons-text">
            <div class="logo-text-icons">
                <div class="logo">
                    <img class="group" src="img/LogoPata.png" />
                    <div class="text-wrapper">Pai de Pet</div>
                </div>
            </div>
        </div>
    </footer>
    </div>
  </body>
</html>
